In [2]:
import pandas as pd
import json
import duckdb as db
#drop tactics

In [3]:
'''
json_file_path = r"data\events\15946.json"

with open(json_file_path, 'r') as j:
     contents = json.loads(j.read())
#print(contents)
'''

'\njson_file_path = r"data\\events\r946.json"\n\nwith open(json_file_path, \'r\') as j:\n     contents = json.loads(j.read())\n#print(contents)\n'

fix json output type, possession_team, play_pattern, team, player, and position

In [4]:
df = pd.read_json(r'data\events\15946.json')
df.dtypes
df['type'] = df['type'].astype('str')
df['type'] = df['type'].str.split(':').str[2].str[2:].str[:-2]
df['possession_team'] = df['possession_team'].astype('str')
df['possession_team'] = df['possession_team'].str.split(':').str[2].str[2:].str[:-2]
df['play_pattern'] = df['play_pattern'].astype('str')
df['play_pattern'] = df['play_pattern'].str.split(':').str[2].str[2:].str[:-2]
df['team'] = df['team'].astype('str')
df['team'] = df['team'].str.split(':').str[2].str[2:].str[:-2]
df['player'] = df['player'].astype('str')
df['player'] = df['player'].str.split(':').str[2].str[2:].str[:-2]
df['position'] = df['position'].astype('str')
df['position'] = df['position'].str.split(':').str[2].str[2:].str[:-2]
df

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,goalkeeper,clearance,block,dribble,foul_committed,foul_won,out,miscontrol,bad_behaviour,substitution
0,9f6e2ecf-6685-45df-a62e-c2db3090f6c1,1,1,2023-04-16 00:00:00.000,0,0,Starting XI,1,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0300039d-150d-41e4-b29a-76602ef002e6,2,1,2023-04-16 00:00:00.000,0,0,Starting XI,1,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,491e8901-7630-4cc8-b57b-937dddff2eaa,3,1,2023-04-16 00:00:00.000,0,0,Half Start,1,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,757b85ad-ddfe-44d5-b893-c23a9fb709d8,4,1,2023-04-16 00:00:00.000,0,0,Half Start,1,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,549567bd-36de-4ac8-b8dc-6b5d3f1e4be8,5,1,2023-04-16 00:00:00.575,0,0,Pass,2,Deportivo Alavés,From Kick Off,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,910d8478-49bf-4b05-9023-9af868c6222e,3758,2,2023-04-16 00:46:41.185,91,41,Pressure,143,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3758,036c1a04-8d9b-40c0-8b35-780df67fab4d,3759,2,2023-04-16 00:46:43.032,91,43,Shot,143,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3759,be34da5e-38ac-4c7b-8e65-813b2e70ffe5,3760,2,2023-04-16 00:46:43.426,91,43,Goal Keeper,143,Barcelona,Regular Play,...,"{'technique': {'id': 46, 'name': 'Standing'}, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3760,15ac0641-73da-4b58-bb73-a18934727eac,3761,2,2023-04-16 00:47:31.061,92,31,Half End,143,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3761,57539da1-a939-4e34-be29-7408942de747,3762,2,2023-04-16 00:47:31.061,92,31,Half End,143,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'type',
       'possession', 'possession_team', 'play_pattern', 'team', 'duration',
       'tactics', 'related_events', 'player', 'position', 'location', 'pass',
       'carry', 'ball_receipt', 'under_pressure', 'duel', 'counterpress',
       'interception', 'off_camera', 'ball_recovery', 'shot', 'goalkeeper',
       'clearance', 'block', 'dribble', 'foul_committed', 'foul_won', 'out',
       'miscontrol', 'bad_behaviour', 'substitution'],
      dtype='object')

In [10]:
item_list = ['pass',
       'carry', 'ball_receipt', 'under_pressure', 'duel', 'counterpress',
       'interception', 'off_camera', 'ball_recovery', 'shot', 'goalkeeper',
       'clearance', 'block', 'dribble', 'foul_committed', 'foul_won', 'out',
       'miscontrol', 'bad_behaviour', 'substitution']
df_test = df[['pass',
       'carry', 'ball_receipt', 'under_pressure', 'duel', 'counterpress',
       'interception', 'off_camera', 'ball_recovery', 'shot', 'goalkeeper',
       'clearance', 'block', 'dribble', 'foul_committed', 'foul_won', 'out',
       'miscontrol', 'bad_behaviour', 'substitution']]

for i in item_list:
    df[i] = df[i].astype('string')
    temp = df_test[df_test[i].notnull()]
    temp_list = item_list.copy()
    temp_list.remove(i)
    print(i)
    print(len(temp[temp[temp_list].notnull()]))

pass
1163
carry
890
ball_receipt
74
under_pressure
459
duel
53
counterpress
70
interception
24
off_camera
55
ball_recovery
3
shot
28
goalkeeper
34
clearance
37
block
2
dribble
24
foul_committed
8
foul_won
8
out
16
miscontrol
1
bad_behaviour
1
substitution
6

I don't think I need the meta data of event

In [49]:
df2 = pd.read_json(r'data\matches\11\4.json')
df2[df2['match_id']==15946]

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
12,15946,2018-08-18,22:15:00.000,"{'competition_id': 11, 'country_name': 'Spain'...","{'season_id': 4, 'season_name': '2018/2019'}","{'home_team_id': 217, 'home_team_name': 'Barce...","{'away_team_id': 206, 'away_team_name': 'Depor...",3,0,available,scheduled,2022-12-05T14:32:32.223676,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",1,"{'id': 1, 'name': 'Regular Season'}","{'id': 342, 'name': 'Spotify Camp Nou', 'count...","{'id': 2625, 'name': 'José María Sánchez Martí..."

In [50]:
df['play_pattern'] = df['play_pattern'].astype('str')
df['play_pattern'] = df['play_pattern'].str.split(':').str[2].str[2:].str[:-2]
df

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,goalkeeper,clearance,block,dribble,foul_committed,foul_won,out,miscontrol,bad_behaviour,substitution
0,9f6e2ecf-6685-45df-a62e-c2db3090f6c1,1,1,2023-04-14 00:00:00.000,0,0,Starting XI,1,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0300039d-150d-41e4-b29a-76602ef002e6,2,1,2023-04-14 00:00:00.000,0,0,Starting XI,1,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,491e8901-7630-4cc8-b57b-937dddff2eaa,3,1,2023-04-14 00:00:00.000,0,0,Half Start,1,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,757b85ad-ddfe-44d5-b893-c23a9fb709d8,4,1,2023-04-14 00:00:00.000,0,0,Half Start,1,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,549567bd-36de-4ac8-b8dc-6b5d3f1e4be8,5,1,2023-04-14 00:00:00.575,0,0,Pass,2,Deportivo Alavés,From Kick Off,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,910d8478-49bf-4b05-9023-9af868c6222e,3758,2,2023-04-14 00:46:41.185,91,41,Pressure,143,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3758,036c1a04-8d9b-40c0-8b35-780df67fab4d,3759,2,2023-04-14 00:46:43.032,91,43,Shot,143,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3759,be34da5e-38ac-4c7b-8e65-813b2e70ffe5,3760,2,2023-04-14 00:46:43.426,91,43,Goal Keeper,143,Barcelona,Regular Play,...,"{'technique': {'id': 46, 'name': 'Standing'}, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3760,15ac0641-73da-4b58-bb73-a18934727eac,3761,2,2023-04-14 00:47:31.061,92,31,Half End,143,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3761,57539da1-a939-4e34-be29-7408942de747,3762,2,2023-04-14 00:47:31.061,92,31,Half End,143,Barcelona,Regular Play,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN